.container{
    width: 750px;
    border: solid 1px silver;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls{
    background-color: azure;
    border: solid 1px green;
    padding: 3px;
    margin-bottom: 20px;
}

.square{
    width: 700px;
    height: 500px;
    background-color: aquamarine;
    position: relative;
}

.ball{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    cursor: crosshair;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 2em;
}