.error-mess{
    color: red;
}

.tb{
    width: 100%;
    min-height: 300px;
    border: solid 2px green;
    /* border-collapse: collapse; */
}

.tb td{
    border: solid 2px green;
    vertical-align:middle;
    text-align: center;
}

.img{
    width: 100px;
}