.controls{
    margin: auto;
    width: 50%;
    padding: 20px;
    border: solid;
}

.result{
    border: solid;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 70%;
}

.date-info{
    border: solid 1px silver;
    padding: 10px;
    margin: 10px;
}

.text-1{
    font-size: 2em;
    font-weight: bold;
}